<form class="form" [formGroup]="productsForm" (ngSubmit)="onSubmit()">
  <fieldset class="form__fieldset">
    <legend class="form__legend">Información del Artículo</legend>

    <mat-form-field appearance="fill" class="form__campo">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre del Artículo" [formControl]="name" />
      <mat-error *ngIf="name.invalid && name.touched">El nombre es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form__campo">
      <mat-label>Categoría</mat-label>
      <input matInput placeholder="Categoría del Artículo" [formControl]="category" />
      <mat-error *ngIf="category.invalid && category.touched">La categoría es obligatoria</mat-error>
    </mat-form-field>
  </fieldset>

  <div class="form__actions">
    <button mat-button type="button" (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!productsForm.valid" type="submit">Guardar</button>
  </div>
</form>
