<form class="form" [formGroup]="productsForm" (ngSubmit)="onSubmit()">
  <fieldset class="form__fieldset">
    <legend class="form__legend">Información del Artículo</legend>

    <div class="form__campo">
      <label for="name" class="form__label">Nombre</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form__input"
        placeholder="Nombre del Artículo"
        [formControl]="name"
      />
      <p class="form__error" *ngIf="name.invalid && name.touched">
        El nombre es obligatorio
      </p>
    </div>

    <div class="form__campo">
      <label for="category" class="form__label">Categoría</label>
      <input
        type="text"
        name="category"
        id="category"
        class="form__input"
        placeholder="Categoría del Artículo"
        [formControl]="category"
      />
      <p class="form__error" *ngIf="category.invalid && category.touched">
        La categoría es obligatoria
      </p>
    </div>
  </fieldset>

  <button
    class="form__submit form__submit--registrar"
    [disabled]="!productsForm.valid"
    type="submit"
  >
    Guardar
  </button>
</form>
