.not-found {
  max-width: 100rem;
  margin: 0 auto;

  &__title {
    margin: 4rem 0;
    font-size: 2.8rem;
    font-weight: 500;
  }

  &__text {
    margin: 2rem 0;
  }

  &__link {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
