.categories {
  max-width: 100rem;
  margin: 0 auto;

  &__title {
    margin: 4rem 0;
    font-size: 2.8rem;
    font-weight: 500;
  }
  .table__paginator {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}


.table__icon {
  right: 0;
  bottom: 0;
}
