<div class="sheet-root">
  <div class="sheet-header">
    <h3>Accesos Rápidos</h3>
    <p class="subtitle">Navega rápidamente a las secciones principales</p>
  </div>

  <mat-nav-list class="sheet-list">
    <a mat-list-item class="sheet-item" (click)="navigateTo('/products')">
      <mat-icon matListIcon>shopping_basket</mat-icon>
      <div matLine class="item-title">Artículos</div>
      <div matLine class="item-sub">Lista de artículos</div>
    </a>

    <a mat-list-item class="sheet-item" (click)="navigateTo('/categories')">
      <mat-icon matListIcon>category</mat-icon>
      <div matLine class="item-title">Categorías</div>
      <div matLine class="item-sub">Lista de categorías</div>
    </a>

    <a mat-list-item class="sheet-item" (click)="navigateTo('/warehouses')">
      <mat-icon matListIcon>store</mat-icon>
      <div matLine class="item-title">Almacenes</div>
      <div matLine class="item-sub">Lista de almacenes</div>
    </a>

    <a mat-list-item class="sheet-item" (click)="navigateTo('/stock')">
      <mat-icon matListIcon>inventory</mat-icon>
      <div matLine class="item-title">Inventario</div>
      <div matLine class="item-sub">Resumen de inventario</div>
    </a>

    <a mat-list-item class="sheet-item" (click)="navigateTo('/movements')">
      <mat-icon matListIcon>swap_horiz</mat-icon>
      <div matLine class="item-title">Movimientos</div>
      <div matLine class="item-sub">Entradas y transferencias</div>
    </a>

    <a mat-list-item class="sheet-item" (click)="navigateTo('/reports')">
      <mat-icon matListIcon>assessment</mat-icon>
      <div matLine class="item-title">Reportes</div>
      <div matLine class="item-sub">Reporte de inventario</div>
    </a>
  </mat-nav-list>
</div>
