<main class="stock main-content">
  <h1 class="stock__title text-center">Inventario</h1>
  <header class="table__header">
    <div class="table__actions">
      <form class="table__group">
        <mat-form-field appearance="fill">
          <mat-label for="search">
            Buscar
            <i class="fa-solid fa-search table__icon" aria-hidden="true"></i>
          </mat-label>
          <input
            matInput
            type="text"
            id="search"
            placeholder="Buscar..."
            [formControl]="search"
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="sort">Ordenar por</mat-label>
          <mat-select id="sort" [formControl]="sort">
            <mat-option value="id">ID</mat-option>
            <mat-option value="store">Almacen</mat-option>
            <mat-option value="product">Articulo</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="openCreateStockModal()">
        <i class="fa-solid fa-plus table__add-icon" aria-hidden="true"></i>
        Registrar Inventario
      </button>
    </div>
  </header>
  <table class="table">
    <thead class="table__thead">
      <tr>
        <th scope="col" class="table__th">ID</th>
        <th scope="col" class="table__th">Almacen</th>
        <th scope="col" class="table__th">Articulo</th>
        <th scope="col" class="table__th">Cantidad</th>
        <th scope="col" class="table__th table__th--acciones">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__tbody">
      <tr class="table__tr" *ngFor="let stockDisplay of stocksDisplay">
        <td class="table__td">{{ stockDisplay.id }}</td>
        <td class="table__td">{{ stockDisplay.store.name }}</td>
        <td class="table__td">{{ stockDisplay.product.name }}</td>
        <td class="table__td">{{ stockDisplay.quantity }}</td>
        <td class="table__td table__td--acciones">
          <i
            class="fa-solid fa-pen-to-square table__accion table__accion--editar"
            aria-hidden="true"
            (click)="openEditStockModal(stockDisplay)"
          ></i>
          <i
            class="fa-solid fa-trash-can table__accion table__accion--eliminar"
            aria-hidden="true"
            (click)="deleteStock(stockDisplay)"
          ></i>
        </td>
      </tr>
      <tr class="table__tr" *ngIf="stocksDisplay.length < 1">
        <td colspan="5" class="table__td text-center">No hay inventario...</td>
      </tr>
    </tbody>
  </table>
  <div class="table__paginator">
    <mat-paginator
      [length]="filteredDisplay.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPage($event)"
    >
    </mat-paginator>
  </div>
</main>
