.stock {
  max-width: 120rem;
  margin: 0 auto;

  &__title {
    margin: 4rem 0;
    font-size: 2.8rem;
    font-weight: 500;
  }

  .table__paginator {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

:host ::ng-deep .mat-form-field-underline {
  position: static !important;
}

:host ::ng-deep .mat-button-wrapper {
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
}

button {
  height: 5rem;
}

.table__icon {
  right: 0;
  bottom: 0;
}
