.login {
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login__card {
  width: 100%;
  max-width: 28rem;
}

.login__field {
  width: 100%;
  display: block;
}

.login__submit {
  width: 100%;
  margin-top: 1rem;
}
