<main class="products main-content">
  <h1 class="products__title text-center">Articulos</h1>
  <header class="table__header">
    <div class="table__actions">
      <form class="table__group" [formGroup]="filterForm">
        <mat-form-field appearance="fill">
          <mat-label for="search">
            Buscar
            <i class="fa-solid fa-search table__icon" aria-hidden="true"></i>
          </mat-label>
          <input matInput placeholder="Buscar..." formControlName="search">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ordenar por</mat-label>
          <mat-select formControlName="sort">
            <mat-option value="id">ID</mat-option>
            <mat-option value="name">Nombre</mat-option>
            <mat-option value="category">Categoría</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="openCreateProductModal()">
        <i class="fa-solid fa-plus table__add-icon" aria-hidden="true"></i>
        Agregar Articulo
      </button>
    </div>
  </header>
  <table class="table">
    <thead class="table__thead">
      <tr>
        <th scope="col" class="table__th">ID</th>
        <th scope="col" class="table__th">Nombre</th>
        <th scope="col" class="table__th">Categoría</th>
        <th scope="col" class="table__th table__th--acciones">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__tbody">
      <tr class="table__tr" *ngFor="let product of products">
        <td class="table__td">{{ product.id }}</td>
        <td class="table__td">{{ product.name }}</td>
        <td class="table__td">{{ product.category }}</td>
        <td class="table__td table__td--acciones">
          <i
            class="fa-solid fa-pen-to-square table__accion table__accion--editar"
            aria-hidden="true"
            (click)="openEditProductModal(product)"
          ></i>
          <i
            class="fa-solid fa-trash-can table__accion table__accion--eliminar"
            aria-hidden="true"
            (click)="deleteProduct(product)"
          ></i>
        </td>
      </tr>
      <tr class="table__tr" *ngIf="products.length < 1">
        <td colspan="4" class="table__td text-center">No hay productos...</td>
      </tr>
    </tbody>
  </table>
  <div class="table__paginator">
    <mat-paginator
      [length]="filteredProducts.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPage($event)"
    >
    </mat-paginator>
  </div>
</main>
