.mat-form-field {
  width: 100%;
  margin-bottom: 0;
}

.form__label {
  all: unset;
  font-size: 1.6rem;
}

.form__campo {
	width: 100%;
}

.form__actions {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
	margin-top: 1rem;
}

mat-form-field.form__campo {
	display: block;
}
