<form class="form" [formGroup]="stocksForm" (ngSubmit)="onSubmit()">
  <fieldset class="form__fieldset">
    <legend class="form__legend">Registro de Inventario</legend>

    <mat-form-field class="form__campo" *ngIf="!data.edit" appearance="fill">
      <mat-label for="product" class="form__label">Articulo</mat-label>
      <input
        type="text"
        class="form__input"
        placeholder="Buscar artículo"
        name="product"
        id="product"
        aria-label="Product"
        matInput
        [formControl]="product"
        [matAutocomplete]="productInput"
        (focus)="loadProducts()"
      >
      <mat-autocomplete #productInput="matAutocomplete">
        <mat-option *ngFor="let product of filteredProductsArray" [value]="product">
          {{ product }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p class="form__error" *ngIf="product.invalid && product.touched">
      El articulo es obligatorio
    </p>

    <mat-form-field class="form__campo" *ngIf="!data.edit" appearance="fill">
      <mat-label for="warehouse" class="form__label">Almacen</mat-label>
      <input
        type="text"
        class="form__input"
        placeholder="Buscar almacén"
        name="warehouse"
        id="warehouse"
        aria-label="Warehouse"
        matInput
        [formControl]="warehouse"
        [matAutocomplete]="warehouseInput"
        (focus)="loadWarehouses()"
      >
      <mat-autocomplete #warehouseInput="matAutocomplete">
        <mat-option *ngFor="let warehouse of filteredWarehousesArray" [value]="warehouse">
          {{ warehouse }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p class="form__error" *ngIf="warehouse.invalid && warehouse.touched">
      El almacen es obligatorio
    </p>

    <mat-form-field class="form__campo" appearance="fill">
      <mat-label for="quantity" class="form__label">Cantidad</mat-label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        class="form__input"
        placeholder="Ej. 10"
        matInput
        [formControl]="quantity"
      />
    </mat-form-field>
    <p class="form__error" *ngIf="quantity.invalid && quantity.touched">
      La cantidad es obligatoria y no puede ser negativa
    </p>
  </fieldset>
  <div class="form__actions">
    <button mat-button type="button" (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!stocksForm.valid" type="submit">Guardar</button>
  </div>
</form>
