@use './../../../../assets/styles/variables' as v;
@use './../../../../assets/styles/mixins' as m;

.sidebar {
    width: 11rem;
    min-width: 11rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    &__header {
        padding: 2rem 1rem;
        border-bottom: 1px solid lighten(v.$gris-oscuro, 70);
        text-align: center;
    }

    &__title {
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
      color: lighten(v.$gris-oscuro, 20);
    }

    &__menu {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__link {
        color: lighten(v.$gris-oscuro, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: lighten(v.$gris-oscuro, 20);
            color: v.$blanco;
            border-radius: .5rem;
        }
    }

    &__icon {
        font-size: 2rem;
    }

    &__menu-text {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        margin-top: .5rem;
    }
}
