@use 'variables' as v;
@use 'mixins' as m;

.table {
  width: 100%;
  border-collapse: collapse;

  &__header {
    margin: 2rem 0 1.5rem 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include m.tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    @include m.tablet {
      flex-direction: row;
      align-items: flex-end;
      width: auto;
    }
  }

  &__search,
  &__sort {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;

    @include m.desktop {
      width: 26rem;
    }

    label {
      font-size: 1.3rem;
      font-weight: v.$bold;
      color: v.$gris-oscuro;
      text-transform: uppercase;
    }

    input,
    select {
      width: 100%;
      padding: 1.1rem 3.6rem 1.1rem 1.2rem;
      border: 1px solid lighten(v.$gris, 25);
      border-radius: 0.6rem;
      background-color: v.$blanco;
      font-size: 1.5rem;
      color: v.$gris-oscuro;
      outline: none;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        border-color: v.$azul;
        box-shadow: 0 0 0 0.3rem rgba(0, 125, 244, 0.15);
      }
    }
  }

  &__icon {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    color: v.$gris;
    font-size: 1.5rem;
    pointer-events: none;
  }

  &__btn {
    @include m.boton(v.$azul, v.$blanco);
  }

  &__add-icon {
    font-size: 1.6rem;
  }

  &__thead {
    background-color: v.$gris-oscuro;
    color: v.$blanco;
  }

  &__th {
    padding: 1rem;
    text-align: left;
  }

  &__tr {
    &:nth-child(even) {
      background-color: v.$gris-claro;
    }
  }

  &__td {
    padding: 1.5rem 1rem;

    &--acciones {
      @extend .table__td;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
    }
  }

  &__accion {
    all: unset;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: v.$bold;
    border-radius: 50%;
    padding: 0.7rem 0.5rem;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;

    &--editar {
      color: v.$azul;
      &:hover {
        background-color: lighten(v.$azul, 45);
      }
    }
    &--eliminar {
      color: v.$rojo;
      &:hover {
        background-color: lighten(v.$rojo, 60);
      }
    }
  }
}
